@import 'normalize';
@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'vars';

// @import 'base-styles';
// @import 'ranks';
// @import 'leaderboard';
@import 'nav';
@import 'place-order';

html {
	height: 100%;
}

body {
	padding-top: $nav-height;
	height: 100%;
}

button {
	border-radius: 5px;
	padding: 8px 14px;
	border: 0;
	color: rgba(255,255,255,.9);
	box-shadow: 0 1px 0px darken($primary-color, 4%), 0 -1px 0px lighten($primary-color, 10%);
	background-color: lighten($primary-color, 5%);
}

.content-wrapper {
	position: relative;
	left: 0;
}




