.nav-toggle, #order-button, #dispensor-status {
	width: 28%;
	float: left;
	padding: 7px 4px 0;
	text-align: center;

	.nav-button {
		display: block;
		border-radius: 6px;
		border: 3px solid $primary-2;
		background-color: $primary-color;
		font-family: 'dinproblack';
		font-size: 12px;
		text-align: center;
		width: 100%;
		height: 45px;
		padding: 0px;
		text-transform: uppercase;
		color: rgba(0,0,0,.65);

		&.cancel {
			background-color: #F08A78;
			border: 3px solid #BF6D5F;
		}

		&.inactive {
			border: 3px solid #dedede;
			background-color: white;
			color: #dedede;

			.icon {
				color: #dedede;
			}
		}
	}

	.icon {
		color: white;
		display: inherit;
		position: relative;
		top: -1px;
		font-size: 24px;
		line-height: 21px;
	}
}

#dispensor-status {
	width: 44%;
}


#nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: $nav-height;
	background-color: white;
	padding: 0 5px;

	// .nav-toggle {
	// 	position: absolute;
	// 	top: 18px;
	// 	z-index: 200;
	// 	fill: white;
	// 	right: $horiz-pad;
	// }
	
	.nav-content {
		position: fixed;
		z-index: 300;
		width: 85%;
		min-height: calc(100% - $nav-height);
		right: -85%;
		background-color: $primary-2;
		padding: 20px;
		height: 100%;
	}
}

.nav-content {
	.user-info, .status, .experience {
		border-radius: $border-radius;
		border: $border;
		background-color: white;
		padding: 10px;
	}

	.user-info {
		margin-bottom: 15px;

		p {
			margin: 3px 0;
		}

		.rank-info {
			text-align: center;

			.rank-icon {
				margin: 0 auto;
				margin-bottom: 8px;

				img {
					width: 130px;
					height: 130px;
				}
			}
		}

		.rank-name {
    		font-family: 'dinprobold';

		}
	}

	.experience {
		margin-bottom: 15px;

		.bar {
			height: 16px;
			border-radius: 8px;

			width: 100%;
			position: relative;

			.bar-value {
				position: absolute;
				background-color: #00ff95;
				width: 20%;
				height: 16px;
				border-radius: 8px
			}
		}

		.level, .next-level {
			display: block;
			font-family: 'dinprobold';
			margin-top: 6px;
		}
		.next-level {
			float: right;
		}
	}
	ul.nav {
		margin: 0;
		padding: 0;
		margin-top: 50px;
		width: 100%;
		bottom: 0;
		list-style: none;

		li {
			text-align: center;
			color: white;
			padding: 8px 0;
		}
	}
}