.content-wrapper {
	margin-top: 20px;
}
#nav {
	/*-webkit-box-shadow: 0px 0px 8px 6px rgba(30,156,206,1);
	-moz-box-shadow: 0px 0px 8px 6px rgba(30,156,206,1);
	box-shadow: 0px 0px 8px 6px rgba(30,156,206,1);*/
}
#nav .nav-content {
	/*max-width: 400px;*/
	-webkit-box-shadow: inset 18px 0px 12px -10px #17759b;
	-moz-box-shadow: inset 18px 0px 12px -10px #17759b;
	box-shadow: inset 18px 0px 12px -10px #17759b;
}
.nav-content .experience .bar .bar-value {
	-webkit-box-shadow: inset 0px 0px 0px 3px #1bb246;
	-moz-box-shadow: inset 0px 0px 0px 3px #1bb246;
	box-shadow: inset 0px 0px 0px 3px #1bb246;
}
.nav-content .experience .level {
	margin-left: 6px;
	/*padding: 20px 10px 10px;*/
}
.nav-content .user-info .rank-info .rank-icon {
	margin-bottom: 0;
}
#nav .nav-toggle {
	right: 20;
}
#place-order-form {
	margin-bottom: 40px;
}