.order-button {
	position: fixed;
	top: 9px;
	left: $horiz-pad;
	z-index: 600;

	&.inactive {
		background-color: $primary-color;
	}

	&.active {
		background-color: tomato;
	}
}

.cereal-bowl {
	position: fixed;
	z-index: 90;
	top: 50px;
	left: 0;
	margin-left: -$horiz-pad;
	height: 150px;
	width: 100%;
	background-color: $primary-2;
	text-align: center;
	padding-top: 30px;

	.bowl-wrapper {
		margin-left: -200px;
	}

	img, svg, .milk-fill {
		width: 200px;
		position: absolute;
	}

	.empty-bowl {
		z-index: 100;
	}

	.milk {
		width: 90px;
		margin-left: 58px;
		margin-top: 132px;
		top: -12px;
		z-index: 10;
	}

	.milk-fill {
		z-index: 5;
		margin-top: 143px;
		top: -5px;
		width: 200px;
		height: 5px;
		background-color: white;
	}

	svg {
		display: none;
		margin-top: -40px;
		height: 195px;
		z-index: 20;
	}
}

.sliders-wrapper {
	padding: 10px;
	padding-top: 150px;
	// text-align: center;

	> div {
		text-align: center;
	}

	h3 {
		// text-align: center;
		 font-family: 'dinprobold';
	}

	.slider, .amount-indicator {
		border-radius: 15px;
		height: 30px;
	}

	.slider {
		width: 100%;
		margin: 25px 0;
		background-color: white;
		border: 3px solid $primary-2;
		position: relative;
	}

	.amount-indicator {
		position: absolute;
		// background-color: tomato;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.amount {
		position: absolute;
		top: -50px;
		right: $horiz-pad;
    font-family: 'dinprobold';

	}

	.ui-slider-handle {
		width: 40px;
		height: 40px;
		position: absolute;
		margin-left: -30px;
		outline: 0;

		img {
			// position: absolute;
			width: 80px;
			// height: 60px;
			margin-top: -31px;
			margin-left: -12px;
			pointer-events: none;

		}

	}


}
.submit-order {
	display: block;
	text-align: center;
	margin: 0 auto;
}