<div class="cereal-bowl">
	<div class="bowl-wrapper">
	<img class="empty-bowl" src="images/empty-bowl.svg" alt="">
	<img class="milk" src="images/milk.svg" alt="">
	<span class="milk-fill"></span>
	<svg class="cereal-1" viewBox="0 0 93 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Group" sketch:type="MSLayerGroup" transform="translate(15.000000, 34.000000)" fill="#D8D8D8">
            <path d="M29.5,11 C30.3284272,11 31,10.3284272 31,9.5 C31,8.67157283 30.3284272,8 29.5,8 C28.6715728,8 28,8.67157283 28,9.5 C28,10.3284272 28.6715728,11 29.5,11 Z" id="Oval-3" sketch:type="MSShapeGroup"></path>
            <circle id="Oval-3-copy" sketch:type="MSShapeGroup" cx="33.5" cy="9.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="33.5" cy="12.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="38.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="42.5" cy="5.5" r="1.5"></circle>
            <circle id="Oval-3-copy-3" sketch:type="MSShapeGroup" cx="38.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-3" sketch:type="MSShapeGroup" cx="37.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="36.5" cy="14.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="40.5" cy="9.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="40.5" cy="13.5" r="1.5"></circle>
            <circle id="Oval-3-copy-3" sketch:type="MSShapeGroup" cx="43.5" cy="8.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="44.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="48.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="48.5" cy="8.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="55.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="59.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="63.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="60.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="52.5" cy="9.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="51.5" cy="5.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="49.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="54.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="46.5" cy="5.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="44.5" cy="1.5" r="1.5"></circle>
            <circle id="Oval-3-copy" sketch:type="MSShapeGroup" cx="29.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="34.5" cy="5.5" r="1.5"></circle>
            <circle id="Oval-3-copy-3" sketch:type="MSShapeGroup" cx="29.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-3" sketch:type="MSShapeGroup" cx="34.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy" sketch:type="MSShapeGroup" cx="25.5" cy="10.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="17.5" cy="12.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="25.5" cy="14.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="29.5" cy="12.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="25.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-3" sketch:type="MSShapeGroup" cx="24.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="22.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-3" sketch:type="MSShapeGroup" cx="19.5" cy="3.5" r="1.5"></circle>
            <circle id="Oval-3-copy-2" sketch:type="MSShapeGroup" cx="21.5" cy="10.5" r="1.5"></circle>
            <circle id="Oval-3-copy-3" sketch:type="MSShapeGroup" cx="17.5" cy="7.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="11.5" cy="5.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="6.5" cy="4.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="1.5" cy="4.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="15.5" cy="4.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="13.5" cy="9.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="8.5" cy="8.5" r="1.5"></circle>
        </g>
    </g>
</svg>
<svg class="cereal-2" viewBox="0 0 93 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Group" sketch:type="MSLayerGroup" transform="translate(6.000000, 21.000000)" fill="#D8D8D8">
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="48.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="45.5" cy="7.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="49.5" cy="4.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="74.5" cy="12.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="70.5" cy="10.5" r="1.5"></circle>
            <circle id="Oval-3-copy-10" sketch:type="MSShapeGroup" cx="69.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-11" sketch:type="MSShapeGroup" cx="68.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-11" sketch:type="MSShapeGroup" cx="64.5" cy="7.5" r="1.5"></circle>
            <circle id="Oval-3-copy-12" sketch:type="MSShapeGroup" cx="63.5" cy="3.5" r="1.5"></circle>
            <circle id="Oval-3-copy-10" sketch:type="MSShapeGroup" cx="75.5" cy="8.5" r="1.5"></circle>
            <circle id="Oval-3-copy-11" sketch:type="MSShapeGroup" cx="76.5" cy="3.5" r="1.5"></circle>
            <circle id="Oval-3-copy-12" sketch:type="MSShapeGroup" cx="80.5" cy="1.5" r="1.5"></circle>
            <circle id="Oval-3-copy-11" sketch:type="MSShapeGroup" cx="79.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-11" sketch:type="MSShapeGroup" cx="72.5" cy="5.5" r="1.5"></circle>
            <circle id="Oval-3-copy-12" sketch:type="MSShapeGroup" cx="72.5" cy="1.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="66.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="62.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-10" sketch:type="MSShapeGroup" cx="60.5" cy="7.5" r="1.5"></circle>
            <circle id="Oval-3-copy-11" sketch:type="MSShapeGroup" cx="58.5" cy="4.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="58.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-10" sketch:type="MSShapeGroup" cx="55.5" cy="7.5" r="1.5"></circle>
            <circle id="Oval-3-copy-11" sketch:type="MSShapeGroup" cx="54.5" cy="4.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="53.5" cy="10.5" r="1.5"></circle>
            <circle id="Oval-3-copy-10" sketch:type="MSShapeGroup" cx="49.5" cy="8.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="43.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="41.5" cy="8.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="44.5" cy="3.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="39.5" cy="4.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="38.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="36.5" cy="7.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="35.5" cy="3.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="33.5" cy="11.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="32.5" cy="5.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="29.5" cy="8.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="27.5" cy="4.5" r="1.5"></circle>
            <circle id="Oval-3-copy-4" sketch:type="MSShapeGroup" cx="28.5" cy="12.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="18.5" cy="14.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="16.5" cy="10.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="13.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="11.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="13.5" cy="14.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="11.5" cy="10.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="9.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="5.5" cy="3.5" r="1.5"></circle>
            <circle id="Oval-3-copy-10" sketch:type="MSShapeGroup" cx="1.5" cy="3.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="6.5" cy="9.5" r="1.5"></circle>
            <circle id="Oval-3-copy-9" sketch:type="MSShapeGroup" cx="3.5" cy="7.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="8.5" cy="13.5" r="1.5"></circle>
            <circle id="Oval-3-copy-5" sketch:type="MSShapeGroup" cx="23.5" cy="14.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="25.5" cy="10.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="23.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="20.5" cy="2.5" r="1.5"></circle>
            <circle id="Oval-3-copy-6" sketch:type="MSShapeGroup" cx="21.5" cy="10.5" r="1.5"></circle>
            <circle id="Oval-3-copy-7" sketch:type="MSShapeGroup" cx="18.5" cy="6.5" r="1.5"></circle>
            <circle id="Oval-3-copy-8" sketch:type="MSShapeGroup" cx="15.5" cy="3.5" r="1.5"></circle>
        </g>
    </g>
</svg>
</div>
</div>
<div class="sliders-wrapper needsclick">
	<h3>Milk</h3>
	<div class="slider milk needsclick">
		<div class="amount-indicator"></div>
		<div class="amount"><span class="cups">0</span> cups (<span class="oz">0</span>oz)</div>
	</div>
	<h3>Trix</h3>
	<div class="slider cereal cereal1 needsclick" data-cereal="c1">
		<div class="amount-indicator"></div>
		<div class="amount">None</div>
	</div>
	<h3>Kix</h3>
	<div class="slider cereal cereal2 needsclick" data-cereal="c2">
		<div class="amount-indicator"></div>
		<div class="amount">None</div>
	</div>
	<h3>Rice Crispies</h3>
	<div class="slider cereal cereal3 needsclick" data-cereal="c3">
		<div class="amount-indicator"></div>
		<div class="amount">None</div>
	</div>
</div>

<button class="submit-order">Place Order</button>