<div class="cereal-bowl">
	a
</div>
<div class="sliders-wrapper needsclick">
	<h3>Milk</h3>
	<div class="slider milk needsclick">
		<div class="amount-indicator"></div>
		<div class="amount"><span class="cups">0</span> cups (<span class="oz">0</span>oz)</div>
	</div>
	<h3>Trix</h3>
	<div class="slider cereal cereal1 needsclick" data-cereal="c1">
		<div class="amount-indicator"></div>
		<div class="amount">0</div>
	</div>
	<h3>Kix</h3>
	<div class="slider cereal cereal2 needsclick" data-cereal="c2">
		<div class="amount-indicator"></div>
		<div class="amount">0</div>
	</div>
	<h3>Rice Crispies</h3>
	<div class="slider cereal cereal3 needsclick" data-cereal="c3">
		<div class="amount-indicator"></div>
		<div class="amount">0</div>
	</div>
	
</div>

<button class="submit-order">Place Order</button>