<div class="nav-toggle">
    <img src="images/nav-toggle.svg"/>
</div>

<div class="nav-content">
	<div class="user-info">
		<div class="rank-info">
			<div class="rank-icon">
				<img src="images/spoon.svg"/>
			</div>
			<p class="rank-name">Destroyer of Cereal</p>
			<p class="standing">Ranked {{ rank }} / 6</p>
		</div>
	</div>
	<div class="experience">
		<div class="bar">
			<div class="bar-value"></div>
		</div>
		<span class="next-level">Lvl {{ next-rank }}</span>
		<span class="level">Lvl {{ rank }}</span>
		
	</div>
	<div class="status">
		
	</div>
</div>