<div class="nav-toggle">
    <img src="images/nav-toggle.svg"/>
</div>

<div class="nav-content">
	<div class="user-info">
		<div class="rank-info">
			<div class="rank-icon">
				<img src="images/spoon.svg"/>
			</div>
			<p class="rank-name">Destroyer of Cereal</p>
			<p class="standing">Ranked {{ rank }} / {{ rank }}</p>
		</div>
	</div>
	<ul class="nav">
		<li>Leaderboard</li>
		<li>Dispensor Status</li>
		<li>Something</li>
	</ul>
</div>